/* Additional fonts to be used */
/* font-family: 'Roboto', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* To make 'float' work as it should work */
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(253, 253, 253);
    font-family: 'Roboto', sans-serif;
    color: rgb(54, 54, 54);
    /* font-size: 20px; */
    /* max-width: 1000px; */
    /* border: 2px solid green;
    margin: 0 auto; */
}

/* ________Top navi________  */

div.top-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #1f1f1f;
    color: #fff;
}

div.top-nav-slogan {
    flex-basis: 50%;
    line-height: 32px;
    padding-left: 160px;
    font-size: 14px;
}

div.top-nav .asocial-area {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    line-height: 32px;
    /* width: 100%; */
    /* flex-direction: row-reverse; */
    /* align-self: stretch; */
    padding-right: 160px;
}

div.top-nav .asocial-icon a {
    padding: 4px 10px;
    color: #d7d7d7;
    transition: all 0.176s ease-in-out;
}

div.top-nav .asocial-icon a:hover {
    color: royalblue;
}

/* ________Header________ */

header.main-banner {
    background-color: royalblue;
    width: 100%;
    /* max-width: 1200px; */
    height: 350px;
    /* align-self: auto; */
}

header.main-banner img {
    height: 100%;
    width: 100%;
}

/* ________Main navi________ */

nav.main-nav {
    width: 100%;
    /* margin: 0 auto; */
    margin-bottom: 75px;
    height: 70px;
    background-color: #232323;
}

nav.main-nav ul {
    margin: 0 auto;
    max-width: 1280px;
    list-style: none;
}

nav.main-nav ul li {
    float: left;
}

nav.main-nav ul li a {
    display: block;
    padding: 23px 40px;
    border-right: 2px solid #111;
    text-align: center;
    line-height: 0;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #bbb;
}

nav.main-nav ul li a i {
    margin-right: 10px;
    font-size: 24px;
    vertical-align: -1px;
}

nav.main-nav ul li:last-of-type a {
    border: none;
}

nav.main-nav ul li a:hover {
    color: #fff;
}

/* ________Main part of the project________ */
/* Content */

section.main-section {

}

/* ________Main content________ */
/* Main */

section.main-section {
    display: flex;
    /* flex-direction: row; */
    /* align-items: stretch; */
    /* flex-grow: 1; */
    width: 100%;
    max-width: 1280px;
    min-height: 100vh;
    margin-bottom: 50px;
    background-color: #ddd;
}

section.main-section .container-of-posts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section.main-section .container-of-posts [class|=row] {
    display: flex;
    height: 300px;
    width: 100%;
    border: 2px solid black;
}

section.main-section .container-of-posts .row-1 {
    flex-basis: 500px;
    margin-bottom: 60px;
    background-color: red;
}

section.main-section .container-of-posts .row-1 [class|=post] {
    /* width: 100%; */
}

section.main-section .container-of-posts .row-1 .post-1 {
    flex-basis: 65%;
    margin-right: 30px;
    background-color: orange;
}

section.main-section .container-of-posts .row-1 .post-2 {
    flex-basis: 35%;
    margin-left: 30px;
    background-color: brown;
}

section.main-section .container-of-posts .row-2 {
    flex-basis: 300px;
    margin-bottom: 60px;
    background-color: green;
}

section.main-section .container-of-posts .row-2 .post-3 {
    flex-basis: 33%;
    margin-left: 30px;
    background-color: brown;
}

section.main-section .container-of-posts .row-2 .post-4 {
    flex-basis: 33%;
    margin-left: 30px;
    background-color: brown;
}

section.main-section .container-of-posts .row-2 .post-5 {
    flex-basis: 33%;
    margin-left: 30px;
    background-color: brown;
}

section.main-section .container-of-posts .row-3 {
    flex-basis: 300px;
    background-color: blue;
}

section.main-section .container-of-posts .row-3 .post-6 {
    flex-basis: 33%;
    margin-left: 30px;
    background-color: brown;
}

section.main-section .container-of-posts .row-3 .post-7 {
    flex-basis: 33%;
    margin-left: 30px;
    background-color: brown;
}

section.main-section .container-of-posts .row-3 .post-8 {
    flex-basis: 33%;
    margin-left: 30px;
    background-color: brown;
}

/* ________Footer________ */

footer.main-footer {
    background-color: #323232;
    width: 100%;
}

footer.main-footer h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 15px;
}

footer.main-footer ul {
    list-style: none;
}

footer.main-footer ul li {
    margin: 12px 0;
    font-size: 16px;
}

footer.main-footer ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.175s;
}

footer.main-footer ul li a:hover {
    color: #FA5742;
}

footer .main-footer-section {
    display: flex;
    justify-content: space-around;
    color: #d5d5d5;
}

footer .main-footer-section div {
    flex-basis: 20%;
    padding: 40px 0 50px;
}

footer .secondary-footer-section {
    display: flex;
    justify-content: space-around;
    padding: 14px 0 20px;
    font-size: 14px;
    background-color: #222;
}

footer .secondary-footer-section div {
    flex-basis: 20%;
    color: #d5d5d5;
}

footer .secondary-footer-section .first-secondary-footer-column span+span {
    display: block;
    margin-top: 6px;
}

footer .secondary-footer-section .first-secondary-footer-column span+span a {
    color: #fff;
    transition: 0.175s;
}

footer .secondary-footer-section .first-secondary-footer-column span+span a:hover {
    color: #FA5742;
}